<ddaplib-header [label]="getDisplayName()"
                iconClass="icon icon-rules"></ddaplib-header>
<ddaplib-main>
  <div class="search-filter">
    <mat-form-field>
      <mat-chip-list #searchList
                     [formControl]="searchTextList">
        <mat-chip *ngFor="let search of searchTextList.value"
                  (removed)="removeSearchText(search)"
                  [removable]="true">
          {{search}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="searchByText($event)"
               [matChipInputFor]="searchList"
               [matChipInputSeparatorKeyCodes]="separatorCodes"
               [disabled]="disableSearchText"
               placeholder="Search by text"/>
      </mat-chip-list>
      <mat-icon matSuffix
                matTooltipClass="auditlogs-tooltip"
                matTooltip="Supports searching for text contained inside log message body.
                 Does not support dates, times, or numerical fields. Some example searches include:
                 “/master/config” to search for requests to the config endpoint in the master realm.
                 “PUT” to search for HTTP PUT requests">
        help_outline
      </mat-icon>
    </mat-form-field>
  </div>
  <div class="filters">
    <mat-form-field>
      <mat-label>Log type</mat-label>
      <mat-select (selectionChange)="getLogs()"
                  [formControl]="logType"
                  data-se="log-type">
        <mat-option [value]="logTypes.all">ALL</mat-option>
        <mat-option [value]="logTypes.request">REQUEST</mat-option>
        <mat-option [value]="logTypes.policy">POLICY</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Decision</mat-label>
      <mat-select (selectionChange)="getLogs()"
                  [formControl]="decision"
                  data-se="decision">
        <mat-option [value]="decisionType.all">ALL</mat-option>
        <mat-option [value]="decisionType.pass">PASS</mat-option>
        <mat-option [value]="decisionType.fail">FAIL</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Logs per page</mat-label>
      <mat-select (selectionChange)="getLogs()"
                  [formControl]="pageSize"
                  data-se="page-size">
        <mat-option *ngFor="let page of ['10', '20', '30', '40', '50']"
                    [value]="page">
          {{page}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-container mat-elevation-z1">
    <table [dataSource]="auditLogs$ | async" class="table--base"
           data-se="auditlog-result"
           mat-table>
      <ng-container matColumnDef="auditlogId" sticky>
        <th *matHeaderCellDef mat-header-cell>Auditlog</th>
        <td *matCellDef="let log"
            (click)="gotoAuditlogDetail(log)"
            class="table--link"
            data-se="auditlog-id"
            mat-cell>
          {{ log['auditlogId'] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell> Log Type </th>
        <td *matCellDef="let log"
            data-se="log-type-cell"
            mat-cell>
          {{ log['type'] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="decision">
        <th *matHeaderCellDef mat-header-cell> Decision </th>
        <td *matCellDef="let log"
            mat-cell>
          {{log['decision']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th *matHeaderCellDef mat-header-cell> Time </th>
        <td *matCellDef="let log"
            mat-cell>
          {{ formatTime(log['time']) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="resourceName">
        <th *matHeaderCellDef mat-header-cell> Resource Name </th>
        <td *matCellDef="let log"
            mat-cell>
          {{log['resourceName']}}
        </td>
      </ng-container>
      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr *matRowDef="let log; columns: columnsToDisplay"
          mat-row>
      </tr>
    </table>
  </div>
</ddaplib-main>
