<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             required
             placeholder="Name"
             data-se="id-field"
             [readonly]="serviceTemplate.name.length > 0"
             formControlName="id"/>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
    formGroupName="ui">
      <input matInput
             required
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"/>
    </mat-form-field>
  </div>
  <mat-form-field formGroupName="ui">
    <textarea matInput
              required
              placeholder="Description"
              formControlName="description"
              data-se="inp-description">
    </textarea>
    <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Target Adapter</mat-label>
    <mat-select formControlName="serviceName"
                (selectionChange)="targetAdapterChange()"
                data-se="inp-target-adapter"
                required>
      <mat-option *ngFor="let targetAdapter of serviceDescriptors | keyvalue"
                  [value]="targetAdapter.key">
        {{targetAdapter.value.ui.label}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('serviceName') as control">
      <ng-container *ngIf="control.invalid">
        {{ control.errors?.serverError }}
      </ng-container>
    </mat-error>
  </mat-form-field>

  <h3>
    <span>Interfaces</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              data-se="btn-add-interface"
              type="button"
              (click)="addInterface()">
        Add Interface
      </button>
    </div>
  </h3>
  <mat-accordion multi
                 displayMode="flat"
                 formGroupName="interfaces">
    <mat-expansion-panel #interfaceExpansionPanel
                         *ngFor="let interfaceObj of interfaces.controls | keyvalue"
                         [expanded]="isExpanded(interfaceObj.value, interfaceExpansionPanel)"
                         [attr.data-se]="'interface-' + interfaceObj.value.get('id').value">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <mat-panel-title>
          <mat-icon class="icon icon-views"></mat-icon>
          <span>{{ interfaceObj.value.get('id').value || 'UNDEFINED_INTERFACE' }}</span>
        </mat-panel-title>
        <mat-panel-description *ngIf="interfaceObj.value as control">
          <mat-error *ngIf="control.invalid">
            {{ control.errors?.serverError }}
          </mat-error>
        </mat-panel-description>
        <div class="invalid-warning"
             *ngIf="interfaceObj.value.invalid">
          <mat-icon class="icon icon-warning"
                    matTooltip="Interface is invalid">
          </mat-icon>
        </div>
      </mat-expansion-panel-header>

      <ng-container [formGroupName]="interfaceObj.key">
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   required
                   formControlName="id"
                   placeholder="Interface Name"
                   [attr.data-se]="'inp-interface-' + interfaceObj.key + '-name'"/>
            <mat-hint>Example: <i>http:gcp:gs</i></mat-hint>
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   required
                   formControlName="value"
                   placeholder="Interface Value"
                   [attr.data-se]="'inp-interface-' + interfaceObj.key + '-value'"/>
            <button *ngIf="selectedTargetAdapter"
                    mat-button
                    matSuffix
                    color="primary"
                    type="button"
                    class="uppercase add-variable"
                    [attr.data-se]="'inp-interface-' + interfaceObj.key + '-insert-variable'"
                    (click)="showVariables(interfaceObj.key)">
              INSERT VARIABLE
            </button>
          </mat-form-field>
        </div>
      </ng-container>

      <div class="footer">
        <button mat-button
                type="button"
                class="uppercase"
                color="warn"
                [attr.data-se]="'btn-remove-role-' + interfaceObj.key"
                (click)="removeInterface(interfaceObj.key)">
          Remove Interface
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <h3>
    <span>Roles</span>
    <div>
      <button mat-button
              type="button"
              color="primary"
              class="uppercase"
              data-se="btn-add-role"
              (click)="addRole()">
        Add Role
      </button>
    </div>
  </h3>
  <mat-accordion multi
                 displayMode="flat"
                 formGroupName="roles">
    <mat-expansion-panel #roleExpansionPanel
                         *ngFor="let role of roles.controls | keyvalue"
                         [expanded]="isExpanded(role.value, roleExpansionPanel)"
                         [attr.data-se]="'role-' + role.value.get('id').value">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <mat-panel-title>
          <mat-icon class="icon icon-identity"></mat-icon>
          <span>{{ role.value.get('id').value || 'UNDEFINED_ROLE' }}</span>
        </mat-panel-title>
        <div class="invalid-warning"
             *ngIf="role.value.invalid">
          <mat-icon class="icon icon-warning"
                    matTooltip="Role is invalid">
          </mat-icon>
        </div>
      </mat-expansion-panel-header>

      <ng-container [formGroupName]="role.key">
        <div class="row">
          <mat-form-field class="col">
            <input placeholder="Name"
                   required
                   matInput
                   formControlName="id"
                   [attr.data-se]="'inp-role-' + role.key + '-name'"/>
            <mat-error *ngIf="role.value.get('id').invalid">
              Name must be 3-46 characters and alphanumeric
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col"
                          formGroupName="ui">
            <input matInput
                   required
                   placeholder="Display Name"
                   formControlName="label"
                   [attr.data-se]="'inp-role-' + role.key + '-label'"/>
            <mat-error *ngIf="role.value.get('ui.label') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field formGroupName="ui">
          <textarea matInput
                    required
                    placeholder="Description"
                    formControlName="description"
                    [attr.data-se]="'inp-role-' + role.key + '-description'">
          </textarea>
          <mat-error *ngIf="role.value.get('ui.description').invalid">
            Description must be up to 255 characters
          </mat-error>
          <mat-error *ngIf="role.value.get('ui.description') as control">
            <ng-container *ngIf="control.invalid">
              {{ control.errors?.serverError }}
            </ng-container>
          </mat-error>
        </mat-form-field>
        <ng-container formGroupName="serviceArgs">
          <div class="row">
            <div class="col">
              <ng-container formGroupName="roles">
                <tag-input formControlName="values"
                           [secondaryPlaceholder]="isRequired('roles') ? 'Add Target Role *' : 'Target Role'"
                           placeholder="+ Target Role"
                           editable="true"
                           modelAsStrings="true"
                           [attr.data-se]="'inp-role-' + role.key + '-target'">
                </tag-input>
                <mat-error *ngIf="role.value.get('serviceArgs.roles') as control">
                  <ng-container *ngIf="control.invalid">
                    {{ control.errors?.serverError }}
                  </ng-container>
                </mat-error>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ng-container formGroupName="scopes">
                <tag-input formControlName="values"
                           [secondaryPlaceholder]="isRequired('scopes') ? 'Add Target Scope *' : 'Target Scope'"
                           placeholder="+ Target Scope"
                           editable="true"
                           modelAsStrings="true"
                           [attr.data-se]="'inp-role-' + role.key + '-scope'">
                </tag-input>
                <mat-error *ngIf="role.value.get('serviceArgs.scopes') as control">
                  <ng-container *ngIf="control.invalid">
                    {{ control.errors?.serverError }}
                  </ng-container>
                </mat-error>
              </ng-container>

            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col">
            <tag-input formControlName="damRoleCategories"
                       secondaryPlaceholder="Add Dam Role Categories"
                       placeholder="+ Dam Role Category"
                       modelAsStrings="true"
                       [attr.data-se]="'inp-role-' + role.key + '-dam-category'">
              <tag-input-dropdown [showDropdownIfEmpty]="showAutocompleteDropdown(role.value.get('damRoleCategories'))"
                                  [autocompleteItems]="serviceDefinitionService.getDamRoleCategories()">
              </tag-input-dropdown>
            </tag-input>

            <mat-error *ngIf="role.value.get('damRoleCategories') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </div>
        </div>
      </ng-container>

      <div class="footer">
        <button mat-button
                type="button"
                class="uppercase"
                color="warn"
                [attr.data-se]="'btn-remove-role-' + role.key"
                (click)="removeRole(role.key)">
          Remove Role
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
