<ddaplib-header [backLink]="['../..']" label="Add Group">
</ddaplib-header>

<ddaplib-main>
  <ddap-group-form #groupFrom
                   [internalNameEditable]="true">
  </ddap-group-form>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                             [message]="formErrorMessage">
  </ddaplib-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Group
  </button>
</div>
