<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             placeholder="Internal Name"
             formControlName="id"
             data-se="inp-id"
             [readonly]="passportIssuer.name && passportIssuer.name.length > 0"
             required>
      <mat-icon matSuffix
                class="input-help"
                matTooltip="The internal name is the unique identifier for this entity in the system. Once created, it cannot be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
      <mat-error *ngIf="form.get('id').invalid">{{ form.get('id').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
      </textarea>
      <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
      <mat-error *ngIf="form.get('ui.description').invalid">{{ form.get('ui.description').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             [matAutocomplete]="issuers"
             formControlName="issuer"
             placeholder="Issuer"
             data-se="inp-issuer"
             required>
      <mat-autocomplete #issuers="matAutocomplete">
        <mat-option *ngFor="let option of passportIssuers$ | async"
                    [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('issuer').invalid">{{ form.get('issuer').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Client Identifier"
             formControlName="clientId">
      <mat-error *ngIf="form.get('clientId').getError('empty')">Client identifier cannot be removed once set. It can be only replaced.</mat-error>
      <mat-error *ngIf="form.get('clientId').invalid">{{ form.get('clientId').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field [floatLabel]="clientCredentialsSet && form.get('clientId').value ? 'always' : 'auto'"
                    class="col">
      <mat-label>Client Secret</mat-label>
      <input [placeholder]="clientCredentialsSet && form.get('clientId').value ? '<redacted> Client secret cannot be display once set. Editing this field will rewrite existing client secret.' : ''"
             matInput
             formControlName="clientSecret">
      <mat-icon matSuffix
                class="input-help"
                matTooltip="A client secret is a secret value used by this deployment to interact with an external service. If you do not modify this input, the current client secret will not be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('clientSecret').getError('empty')">Client secret must be provided with client identifier</mat-error>
      <mat-error *ngIf="form.get('clientSecret').invalid">{{ form.get('clientSecret').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Auth URL"
             formControlName="authUrl">
      <mat-error *ngIf="form.get('authUrl').invalid">{{ form.get('authUrl').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Token URL"
             formControlName="tokenUrl">
      <mat-error *ngIf="form.get('tokenUrl').invalid">{{ form.get('tokenUrl').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <mat-select placeholder="Translate Using"
                  formControlName="translateUsing"
                  data-se="inp-translateUsing">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let translator of translators$ | async" [value]="translator.id">
          {{ translator.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('translateUsing').invalid">{{ form.get('translateUsing').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>

  <ng-content></ng-content>
</form>
