<ddaplib-header iconClass="icon icon-tests" label="Test Personas">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add test persona'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    <p>
      Test Personas are a way of asserting expected behaviour of
      <ddaplib-entity-description-link [path]="'../access-policies'">access policies</ddaplib-entity-description-link>
      and <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>
      that must be maintained whenever new changes are made. They are archetypes of users of the system, with identity
      <ddaplib-entity-description-link [path]="'../claim-definitions'">claims</ddaplib-entity-description-link>
      that have particular values and are from particular
      <ddaplib-entity-description-link [path]="'../trusted-sources'">sources</ddaplib-entity-description-link>.
    </p>
    <p>
      When you make a persona, you give it claims that make it like some category of real user in your system. You must
      also specify what
      <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>
      you expect the user to have access to.
      If any future request to modify configuration (whether that be a change to a resource, policy, or anything else)
      causes these expectations to be violated, the change will be denied until the expectations are updated.
    </p>
    <p>
      Test personas are meant to help protect existing policies and resources from changes that might accidentally
      grant erroneous access to data.
    </p>
  </ddaplib-entity-description>
  <ddaplib-entity-description>
    You can learn more about Test Personas
    <a href="https://github.com/GoogleCloudPlatform/healthcare-federated-access-services/blob/master/docs/dam/admin/config/personas.md#test-persona-configuration"
       target="_blank"
       rel="noopener noreferrer">
      here
    </a>.
  </ddaplib-entity-description>

  <div class="table-container mat-elevation-z1">
    <table mat-table [dataSource]="entities$ | async"
           class="table--base">
      <!-- Label Definition -->
      <ng-container matColumnDef="label" sticky>
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let model"
            class="table--link"
            data-se="entity-title"
            [routerLink]="[model.name]">
          {{ model.dto.ui.label }}
        </td>
      </ng-container>
      <!-- Description Definition -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let model">{{ model.dto.ui.description }}</td>
      </ng-container>
      <!-- Sources Definition -->
      <ng-container matColumnDef="sources">
        <th mat-header-cell *matHeaderCellDef>Sources</th>
        <td mat-cell *matCellDef="let model">
          <span *ngFor="let source of model.dto.sources">
            {{ source }}
            <br/>
          </span>
        </td>
      </ng-container>
      <!-- Standard Claims Definition -->
      <ng-container matColumnDef="standardClaims">
        <th mat-header-cell *matHeaderCellDef>Standard Claims</th>
        <td mat-cell *matCellDef="let model">
          <a [href]="model.dto.passport.standardClaims.iss"
             target="_blank"
             rel="noopener noreferrer">
            {{ model.dto.passport.standardClaims.iss }}
            <br/>
          </a>
        </td>
      </ng-container>
      <!-- GA4GH Claims Definition -->
      <ng-container matColumnDef="ga4ghClaims">
        <th mat-header-cell *matHeaderCellDef>GA4GH Claims</th>
        <td mat-cell *matCellDef="let model">
          <span *ngFor="let claim of model.dto.passport.ga4ghAssertions">
            {{ claim.type }}: <br/>
            <span *ngIf="claim.value"
                  class="text-style--italic text-size--small text-color--subtle-darker">
              Value: {{ claim.value }}
            </span>
            <br/>
          </span>
        </td>
      </ng-container>
      <!-- More Actions Column -->
      <ng-container matColumnDef="moreActions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let model"
            class="table--actions">
          <mat-icon [matMenuTriggerFor]="moreActionsMenu"
                    [matMenuTriggerData]="{ id: model.name }">
            more_vert
          </mat-icon>
        </td>
      </ng-container>

      <mat-menu #moreActionsMenu="matMenu">
        <ng-template matMenuContent
                     let-id="id">
          <button mat-menu-item
                  [routerLink]="[id]">
            Edit
          </button>
        </ng-template>
      </mat-menu>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</ddaplib-main>
