<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
      <mat-error *ngIf="form.get('ui.label').invalid">{{ form.get('ui.label').errors?.serverError }}</mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <input [readonly]="trustedSource.name?.length > 0"
             matInput
             placeholder="Internal Name"
             formControlName="id"
             data-se="inp-id"
             required>
      <mat-icon matSuffix
                          class="input-help"
                matTooltip="The internal name is the unique identifier for this entity in the system. Once created, it cannot be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
      <mat-error *ngIf="form.get('id').invalid">{{ form.get('id').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
      </textarea>
      <mat-icon matSuffix
                          class="input-help"
                matTooltip="A description shown to administrators when summarising this trusted source.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
      <mat-error *ngIf="form.get('ui.description').invalid">{{ form.get('ui.description').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>

  <h3>Sources</h3>
  <p>
    A list of trusted source organizations to make assertions within visas.
    Each entry is a URL identifier that represents those organizations within visas.
  </p>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'sources'"
                                      [fieldTitle]="'Source'"
                                      [linkable]="true">
  </ddaplib-form-inline-editable-table>

  <h3>Visa Types</h3>
  <p>
    The list of Visa Types to accept from this list of Trusted Sources. An empty list means there are no restrictions.
    One or more entries means only the listed Visa Types are accepted from this Trusted Source.
  </p>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'visaTypes'"
                                      [fieldTitle]="'Visa Type'"
                                      [showAutocomplete]="true"
                                      [autocompleteOptions]="visaTypesAutocompleteOptions"
                                      [linkable]="true"
                                      [linkPrefix]="'/' + realm + '/admin/dam/advanced/visa-types/'">
  </ddaplib-form-inline-editable-table>

  <ng-content></ng-content>
</form>
