<ddaplib-header icon="policies" label="Set up Resources and Access Policies">
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Simplified resource creation with desired access.
  </ddaplib-entity-description>

  <mat-list>
    <mat-list-item [routerLink]="['manage', 'gcs']"
                   data-se="btn-create-gcs-resource">
      <button mat-stroked-button>
        Configure access to objects in Google Cloud Storage
      </button>
    </mat-list-item>
    <mat-list-item [routerLink]="['manage', 'bigquery']"
                   data-se="btn-create-bigquery-resource">
      <button mat-stroked-button>
        Configure access to tables in BigQuery
      </button>
    </mat-list-item>
    <mat-list-item [routerLink]="['manage', 'beacon']"
                   data-se="btn-create-beacon-resource">
      <button mat-stroked-button>
        Configure access to proxy protected Beacon
      </button>
    </mat-list-item>
  </mat-list>

</ddaplib-main>
