<ddaplib-header icon="policies" label="Access Policies">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add access policy'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Access policies are declarations of GA4GH Researcher Identity claims that are required by researchers.
    Once you have created a policy, you can map it onto a dataset by creating a
    <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>.
  </ddaplib-entity-description>

  <table mat-table [dataSource]="entities$ | async"
         class="table--base mat-elevation-z1">
    <!-- Label Definition -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Label</th>
      <td mat-cell *matCellDef="let model"
          class="table--link"
          [routerLink]="[model.name]">
        {{ model.dto.ui.label }}
      </td>
    </ng-container>
    <!-- Description Definition -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let model">{{ model.dto.ui.description }}</td>
    </ng-container>
    <!-- Variable Definition Definition -->
    <ng-container matColumnDef="variableDefinitions">
      <th mat-header-cell *matHeaderCellDef>Variable Definition</th>
      <td mat-cell *matCellDef="let model">
        <span *ngFor="let variable of model.dto.variableDefinitions | keyvalue">
          {{ variable.key }}:
          <span class="text-style--italic text-size--small text-color--subtle-darker">
            {{ variable.value.ui.description }}
          </span>
          <br/>
        </span>
      </td>
    </ng-container>
    <!-- Condition Definition -->
    <ng-container matColumnDef="conditions">
      <th mat-header-cell *matHeaderCellDef>Condition</th>
      <td mat-cell *matCellDef="let model">
        <span *ngFor="let conditionAnyOf of model.dto.anyOf">
          <ng-container *ngFor="let conditionAllOf of conditionAnyOf.allOf">
            {{ conditionAllOf.type }}: <br/>
            <span *ngIf="conditionAllOf.value"
                  class="text-style--italic text-size--small text-color--subtle-darker">
              Value: {{ conditionAllOf.value }}
              <br/>
            </span>
          </ng-container>
        </span>
      </td>
    </ng-container>
    <!-- Info URL Definition -->
    <ng-container matColumnDef="infoUrl">
      <th mat-header-cell *matHeaderCellDef>Info URL</th>
      <td mat-cell *matCellDef="let model">
        <a [href]="model.dto.ui.infoUrl"
           target="_blank"
           rel="noopener noreferrer">{{ model.dto.ui.infoUrl }}</a>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ddaplib-main>
