@import '~ddap-common-lib/styles/modules/colors';

.access-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.secondary-text {
  font-size: 0.9rem;
  color: $color-grey;
}
