<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <mat-tab-group>

    <mat-tab label="Details">
      <div class="row">
        <mat-form-field class="col">
          <input matInput
                 placeholder="Name"
                 formControlName="id"
                 [readonly]="resource.name.length > 0"
                 data-se="inp-id"
                 required>
          <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
          <mat-error *ngIf="form.get('id').invalid">{{ form.get('id').errors?.serverError }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col"
                        formGroupName="ui">
          <input matInput
                 placeholder="Display Name"
                 formControlName="label"
                 data-se="inp-label"
                 required>
          <mat-error *ngIf="form.get('ui.label').invalid">{{ form.get('ui.label').errors?.serverError }}</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col"
                        formGroupName="ui">
        <textarea matInput
                  placeholder="Description"
                  formControlName="description"
                  data-se="inp-description"
                  required>
          <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
        </textarea>
          <mat-error *ngIf="form.get('ui.description').invalid">{{ form.get('ui.description').errors?.serverError }}</mat-error>
        </mat-form-field>
      </div>

      <h3>
        <span>Views</span>
        <div>
          <button mat-button
                  color="primary"
                  class="uppercase"
                  type="button"
                  data-se="btn-add-view"
                  (click)="addView()">
            Add View
          </button>
        </div>
      </h3>

      <mat-accordion multi displayMode="flat">
        <div #views>
          <ng-template #viewTemplate
                       let-view>
            <ddap-resource-view-form [view]="view"
                                     (formChange)="resourceFormChange()">
              <div class="footer">
                <button mat-button
                        type="button"
                        color="warn"
                        class="uppercase"
                        [attr.data-se]="'btn-remove-view-' + view.name"
                        (click)="removeView(view)">
                  Remove View
                </button>
              </div>
            </ddap-resource-view-form>
          </ng-template>
        </div>
      </mat-accordion>
    </mat-tab>

    <mat-tab label="Metadata">
      <div class="row">
        <mat-form-field class="col"
                        formGroupName="ui">
          <input matInput
                 placeholder="Owner"
                 formControlName="owner"
                 data-se="inp-owner">
          <mat-error *ngIf="form.get('ui.owner').invalid">{{ form.get('ui.owner').errors?.serverError }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput
                 placeholder="Maximum TTL"
                 formControlName="maxTokenTtl"
                 data-se="inp-max-ttl">
          <mat-error *ngIf="form.get('maxTokenTtl').invalid">{{ form.get('maxTokenTtl').errors?.serverError }}</mat-error>
        </mat-form-field>
      </div>
      <ng-container formGroupName="ui">
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Access"
                   formControlName="access"
                   data-se="inp-access">
            <mat-error *ngIf="form.get('ui.access').invalid">{{ form.get('ui.access').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Year"
                   formControlName="year"
                   data-se="inp-year">
            <mat-error *ngIf="form.get('ui.year').invalid">{{ form.get('ui.year').errors?.serverError }}</mat-error>
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   placeholder="Size"
                   formControlName="size"
                   data-se="inp-size">
            <mat-error *ngIf="form.get('ui.size').invalid">{{ form.get('ui.size').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Tags"
                   formControlName="tags"
                   data-se="inp-tags">
            <mat-hint>Separate tags by comma</mat-hint>
            <mat-error *ngIf="form.get('ui.tags').invalid">{{ form.get('ui.tags').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Image URL"
                   formControlName="imageUrl"
                   data-se="inp-image-url">
            <mat-error *ngIf="form.get('ui.imageUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.imageUrl').invalid">{{ form.get('ui.imageUrl').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Information URL"
                   formControlName="infoUrl"
                   data-se="inp-info-url">
            <mat-error *ngIf="form.get('ui.infoUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.infoUrl').invalid">{{ form.get('ui.infoUrl').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Apply URL"
                   formControlName="applyUrl"
                   data-se="inp-apply-url">
            <mat-error *ngIf="form.get('ui.applyUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.applyUrl').invalid">{{ form.get('ui.applyUrl').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Troubleshoot URL"
                   formControlName="troubleshootUrl"
                   data-se="inp-troubleshoot-url">
            <mat-error *ngIf="form.get('ui.troubleshootUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.troubleshootUrl').invalid">{{ form.get('ui.troubleshootUrl').errors?.serverError }}</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-tab>

  </mat-tab-group>

  <ng-content></ng-content>
</form>
