<ng-container [formGroup]="form">
  <h3>
    <span>{{ label || 'Conditions' }}</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-condition"
              (click)="addCondition()">
        Add Condition
      </button>
    </div>
  </h3>

  <p *ngIf="conditions.controls.length < 1; else conditionsInfo">
    No conditions are applied.
  </p>
  <ng-template #conditionsInfo>
    <p>
      Multiple conditions act like logical <i>OR</i> clauses, while inner set of conditions act like logical <i>AND</i> clauses.
      Each condition consists of <i>Type</i> and three prefix-suffix pairs <i>Source</i>, <i>Value</i> and <i>By</i>.
    </p>
  </ng-template>

  <mat-accordion multi displayMode="flat"
                 [formArrayName]="this.anyOfFieldName">
    <mat-expansion-panel #conditionExpansionPanel
                         *ngFor="let condition of conditions.controls; let conditionIndex=index"
                         [expanded]="isExpanded(condition, conditionExpansionPanel)"
                         [attr.data-se]="'condition-' + conditionIndex">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <mat-panel-title *ngIf="getClauses(condition).controls.length as numberOfConditions">
          {{ numberOfConditions }} {{ numberOfConditions > 1 ? 'Condition Clauses' : 'Condition Clause' }}
        </mat-panel-title>
        <div class="invalid-warning"
             *ngIf="condition.invalid">
          <mat-icon class="icon icon-warning"
                    matTooltip="Condition is invalid">
          </mat-icon>
        </div>
      </mat-expansion-panel-header>
      <ng-container [formGroupName]="conditionIndex">
        <ng-container formArrayName="allOf">
          <mat-card *ngFor="let clause of getClauses(condition).controls; let clauseIndex=index">
            <ng-container [formGroupName]="clauseIndex">
              <mat-card-title>
                {{ clause.get('type').value || '' }}
              </mat-card-title>

              <mat-card-content>
                <div class="row">
                  <mat-form-field class="col">
                    <input matInput
                           [matAutocomplete]="passportVisaTypesAutocomplete"
                           placeholder="Passport Visa Type"
                           formControlName="type"
                           required
                           [attr.data-se]="'inp-condition-' + clauseIndex + '-type'">
                    <mat-autocomplete #passportVisaTypesAutocomplete="matAutocomplete">
                      <mat-option *ngFor="let type of autocompleteService.getTypeValues() | async"
                                  [value]="type">
                        {{ type }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-hint>
                      Selecting Type will reset Value.
                    </mat-hint>
                    <mat-error *ngIf="clause.get('type') as control">
                      <ng-container *ngIf="control.invalid">
                        {{ control.errors?.serverError }}
                      </ng-container>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div formGroupName="by">
                  <h4 class="row">By</h4>
                  <div class="row">
                    <mat-button-toggle-group #byPrefixGroup="matButtonToggleGroup"
                                             class="col"
                                             formControlName="prefix">
                      <mat-button-toggle *ngFor="let prefix of prefixes"
                                         [attr.data-se]="'inp-condition-' + clauseIndex + '-by-prefix-' + prefix"
                                         [value]="prefix">
                        {{ prefix }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="col">
                      <tag-input *ngIf="clause.get('by.prefix').value as prefix"
                                 formControlName="value"
                                 theme="minimal"
                                 maxItems="{{ isSplitPattern(prefix) ? 100 : 1 }}"
                                 secondaryPlaceholder="Add By"
                                 placeholder="+ By"
                                 [attr.data-se]="'inp-condition-' + clauseIndex + '-by-value'"
                                 modelAsStrings="true"
                                 [onlyFromAutocomplete]="true">
                        <tag-input-dropdown [showDropdownIfEmpty]="showAutocompleteDropdown(prefix, clause.get('by.value'))"
                                            [autocompleteItems]="autocompleteService.getByValues()">
                        </tag-input-dropdown>
                      </tag-input>
                      <div *ngIf="clause.get('by').invalid"
                           class="field-error">
                        {{ clause.get('by').errors?.serverError || 'choose one of the prefixes' }}
                      </div>
                    </div>
                  </div>
                </div>

                <div formGroupName="source">
                  <h4 class="row">Source</h4>
                  <div class="row">
                    <mat-button-toggle-group #sourcePrefixGroup="matButtonToggleGroup"
                                             formControlName="prefix"
                                             class="col">
                      <mat-button-toggle *ngFor="let prefix of prefixes"
                                         [attr.data-se]="'inp-condition-' + clauseIndex + '-source-prefix-' + prefix"
                                         [value]="prefix">
                        {{ prefix }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="col">
                      <tag-input *ngIf="clause.get('source.prefix').value as prefix"
                                 formControlName="value"
                                 #sourceInput
                                 theme="minimal"
                                 maxItems="{{ prefix === 'split_pattern' ? 100 : 1 }}"
                                 secondaryPlaceholder="Add Source"
                                 placeholder="+ Source"
                                 (onAdd)="addSource($event, sourcePrefixGroup, clause)"
                                 [attr.data-se]="'inp-condition-' + clauseIndex + '-source-value'"
                                 modelAsStrings="true">
                          <ng-template let-selected="item" let-index="index">
                            <div class="source-tag-wrapper"
                                 matTooltip="{{resolveTrustedSource(selected)}}">
                              {{
                                (showTrustedSources && isTrustedSource(selected))
                                ? (selected + ':' + resolveTrustedSource(selected))
                                : selected
                              }}
                              <mat-icon class="close-tag icon icon-close" (click)="sourceInput.removeItem(selected, index)">
                              </mat-icon>
                            </div>
                          </ng-template>
                        <tag-input-dropdown [showDropdownIfEmpty]="showAutocompleteDropdown(prefix, clause.get('source.value'))"
                                            [autocompleteItems]="trustedSourcesValues">
                        </tag-input-dropdown>
                      </tag-input>
                      <div *ngIf="clause.get('source') as control"
                           class="field-error">
                        <ng-container *ngIf="control.invalid">
                          {{ control.errors?.serverError || 'choose one of the prefixes' }}
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>

                <div formGroupName="value">
                  <h4 class="row">Value</h4>
                  <div class="row">
                    <mat-button-toggle-group #valuePrefixGroup="matButtonToggleGroup"
                                             formControlName="prefix"
                                             class="col">
                      <mat-button-toggle *ngFor="let prefix of prefixes"
                                         [attr.data-se]="'inp-condition-' + clauseIndex + '-value-prefix-' + prefix"
                                         [value]="prefix">
                        {{ prefix }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="col">
                      <ng-container *ngIf="clause.get('value.prefix').value as prefix">
                        <tag-input *ngIf="clause.get('_autocomplete_values_for_type').value as autocompleteValues"
                                   formControlName="value"
                                   theme="minimal"
                                   maxItems="{{ prefix === 'split_pattern' ? 100 : 1 }}"
                                   secondaryPlaceholder="Add Value"
                                   placeholder="+ Value"
                                   (onAdd)="addValue($event, valuePrefixGroup, clause)"
                                   [attr.data-se]="'inp-condition-' + clauseIndex + '-value-value'"
                                   modelAsStrings="true">
                          <tag-input-dropdown [showDropdownIfEmpty]="showAutocompleteDropdown(prefix, clause.get('value.value'))"
                                              [autocompleteItems]="autocompleteValues">
                          </tag-input-dropdown>
                        </tag-input>
                      </ng-container>
                      <div *ngIf="clause.get('value') as control"
                           class="field-error">
                        <ng-container *ngIf="control.invalid">
                          {{ control.errors?.serverError || 'choose one of the prefixes' }}
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>

              <mat-card-actions class="footer">
                <button mat-button
                        type="button"
                        color="warn"
                        class="uppercase"
                        (click)="removeClauseCondition(condition, clauseIndex, conditionIndex)">
                  Remove Clause
                </button>
              </mat-card-actions>
            </ng-container>
          </mat-card>
        </ng-container>
      </ng-container>
      <mat-action-row>
        <button mat-button
                color="primary"
                class="uppercase"
                type="button"
                data-se="btn-add-clause-condition"
                (click)="addClauseCondition(condition)">
          Add Clause
        </button>
        <button mat-button
                type="button"
                color="warn"
                class="uppercase"
                (click)="removeCondition(conditionIndex)">
          Remove Condition
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
