<ng-container [formGroup]="form">
  <h3>
    <span>{{ label || 'Conditions' }}</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-condition"
              (click)="addCondition()">
        Add Condition
      </button>
    </div>
  </h3>

  <p *ngIf="conditions.controls.length < 1; else conditionsInfo">
    No conditions are applied.
  </p>
  <ng-template #conditionsInfo>
    <p>
      Multiple conditions act like "OR" clauses, while inner set of conditions act like "AND" clauses.
    </p>
  </ng-template>

  <mat-accordion multi displayMode="flat"
                 [formArrayName]="this.anyOfFieldName">
    <mat-expansion-panel *ngFor="let condition of conditions.controls; let conditionIndex=index"
                         [attr.data-se]="'condition-' + conditionIndex">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <mat-panel-title *ngIf="getClauses(condition).controls.length as numberOfConditions">
          {{ numberOfConditions }} {{ numberOfConditions > 1 ? 'Condition Clauses' : 'Condition Clause' }}
        </mat-panel-title>
        <div class="invalid-warning" *ngIf="condition.invalid">
          <mat-icon class="icon icon-warning"
                    matTooltip="Condition is invalid">
          </mat-icon>
        </div>
      </mat-expansion-panel-header>
      <ul class="timeline"
          [formGroupName]="conditionIndex">
        <ng-container formArrayName="allOf">
          <li class="event"
              *ngFor="let clause of getClauses(condition).controls; let clauseIndex=index">
            <ng-container [formGroupName]="clauseIndex">
              <div class="line first"></div>
              <div class="line-text">AND</div>
              <div class="line last"></div>
              <div class="row">
                <mat-form-field class="col">
                  <input matInput
                         [matAutocomplete]="passportVisaTypesAutocomplete"
                         placeholder="Passport Visa Type"
                         formControlName="type"
                         [attr.data-se]="'inp-condition-' + clauseIndex + '-type'"
                         required>
                  <mat-autocomplete #passportVisaTypesAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let type of passportVisaTypes$ | async"
                                [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-button-toggle-group #byPrefixGroup="matButtonToggleGroup"
                                         class="col"
                                         [value]="getPrefixBtnValue(clause.get('by'))"
                                         (change)="prefixChange(clause.get('by'), byPrefixGroup.value)">
                  <mat-button-toggle *ngFor="let prefix of prefixes"
                                     [value]="prefix">
                    {{ prefix }}
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <mat-form-field class="col">
                  <input matInput
                         [matAutocomplete]="authorityLevelsAutocomplete"
                         formControlName="by"
                         placeholder="By"
                         [attr.data-se]="'inp-condition-' + clauseIndex + '-by'">
                  <mat-autocomplete #authorityLevelsAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let authorityLevel of authorityLevels"
                                [value]="authorityLevel">
                      {{ authorityLevel }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="clause.get('by').hasError('prefix')">
                    Must be prefixed with any of
                    <b *ngFor="let prefix of prefixes; let k=index">
                      <i>{{ prefix }}:{{ k < prefixes.length - 1 ? ', ' : '' }}</i>
                    </b>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-button-toggle-group #sourcePrefixGroup="matButtonToggleGroup"
                                         class="col"
                                         [value]="getPrefixBtnValue(clause.get('source'))"
                                         (change)="prefixChange(clause.get('source'), sourcePrefixGroup.value)">
                  <mat-button-toggle *ngFor="let prefix of prefixes"
                                     [value]="prefix">
                    {{ prefix }}
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <mat-form-field class="col">
                  <input matInput
                         placeholder="Source"
                         formControlName="source"
                         [attr.data-se]="'inp-condition-' + clauseIndex + '-source'">
                  <mat-error *ngIf="clause.get('source').hasError('prefix')">
                    Must be prefixed with any of
                    <b *ngFor="let prefix of prefixes; let k=index">
                      <i>{{ prefix }}:{{ k < prefixes.length - 1 ? ', ' : '' }}</i>
                    </b>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-button-toggle-group #valuePrefixGroup="matButtonToggleGroup"
                                         class="col"
                                         [value]="getPrefixBtnValue(clause.get('value'))"
                                         (change)="prefixChange(clause.get('value'), valuePrefixGroup.value)">
                  <mat-button-toggle *ngFor="let prefix of prefixes"
                                     [value]="prefix">
                    {{ prefix }}
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <mat-form-field class="col">
                  <input matInput
                         placeholder="Value"
                         formControlName="value"
                         [attr.data-se]="'inp-condition-' + clauseIndex + '-value'">
                  <mat-error *ngIf="clause.get('value').hasError('prefix')">
                    Must be prefixed with any of
                    <b *ngFor="let prefix of prefixes; let k=index">
                      <i>{{ prefix }}:{{ k < prefixes.length - 1 ? ', ' : '' }}</i>
                    </b>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="footer">
                <button mat-button
                        type="button"
                        color="warn"
                        class="uppercase"
                        (click)="removeClauseCondition(condition, clauseIndex, conditionIndex)">
                  Remove Clause
                </button>
              </div>
            </ng-container>
          </li>
        </ng-container>
      </ul>
      <mat-action-row>
        <button mat-button
                color="primary"
                class="uppercase"
                type="button"
                data-se="btn-add-clause-condition"
                (click)="addClauseCondition(condition)">
          Add Clause
        </button>
        <button mat-button
                type="button"
                color="warn"
                class="uppercase"
                (click)="removeCondition(conditionIndex)">
          Remove Condition
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
