<ng-container [formGroup]="form">
  <h3>
    <span>{{ labels.header }}</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-condition"
              (click)="addCondition()">
        Add Condition
      </button>
    </div>
  </h3>

  <p *ngIf="conditions.controls.length < 1; else conditionsInfo">
    No conditions are applied.
  </p>
  <ng-template #conditionsInfo>
    <p>{{ labels.description }}</p>
  </ng-template>

  <mat-accordion multi displayMode="flat"
                 [formArrayName]="this.anyOfFieldName">
    <mat-expansion-panel #conditionExpansionPanel
                         *ngFor="let condition of conditions.controls; let conditionIndex=index"
                         [expanded]="isExpanded(condition, conditionExpansionPanel)"
                         [attr.data-se]="'condition-' + conditionIndex">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <mat-panel-title *ngIf="getClauses(condition).controls.length as numberOfConditions">
          {{ getPanelTitle(numberOfConditions) }}
        </mat-panel-title>
        <div class="invalid-warning"
             *ngIf="condition.invalid">
          <mat-icon class="icon icon-warning"
                    matTooltip="Condition is invalid">
          </mat-icon>
        </div>
      </mat-expansion-panel-header>
      <ng-container [formGroupName]="conditionIndex">
        <ng-container formArrayName="allOf">
          <mat-card *ngFor="let clause of getClauses(condition).controls; let clauseIndex=index">
            <ng-container [formGroupName]="clauseIndex">
              <mat-card-title>
                {{ clause.get('type').value || '' }}
              </mat-card-title>

              <mat-card-content>
                <div class="row">
                  <mat-form-field class="col">
                    <input matInput
                           [matAutocomplete]="passportVisaTypesAutocomplete"
                           placeholder="Passport Visa Type"
                           formControlName="type"
                           required
                           [attr.data-se]="'inp-condition-' + clauseIndex + '-type'">
                    <mat-autocomplete #passportVisaTypesAutocomplete="matAutocomplete">
                      <mat-option *ngFor="let type of autocompleteService.getTypeValues() | async"
                                  [value]="type">
                        {{ type }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-hint>
                      Selecting Type will reset Value.
                    </mat-hint>
                    <mat-error *ngIf="clause.get('type') as control">
                      <ng-container *ngIf="control.invalid">
                        {{ control.errors?.serverError }}
                      </ng-container>
                    </mat-error>
                  </mat-form-field>
                </div>

                <p>
                  The fields below use
                  <a href="https://github.com/ga4gh-duri/ga4gh-duri.github.io/blob/64b4948e94e3a6250092ba11680b6982dd51b64a/researcher_ids/ga4gh_passport_v1.md#ga4gh-passport"
                     target="_blank"
                     rel="noopener noreferrer">
                    pattern matching
                  </a>
                  where “*”, “?”, and “;” are special characters.
                  Empty fields match any input. A field with multiple pattern matches if any one of the listed patterns match.
                </p>

                <div formGroupName="source">
                  <h4 class="row">Source</h4>
                  <div class="row">
                    <div class="col">
                      <tag-input formControlName="value"
                                 #sourceInput
                                 theme="minimal"
                                 maxItems="100"
                                 secondaryPlaceholder="Add Source"
                                 placeholder="+ Source"
                                 [validators]="validators"
                                 [errorMessages]="errorMessages"
                                 (onAdd)="addSource($event, clause)"
                                 [attr.data-se]="'inp-condition-' + clauseIndex + '-source-value'"
                                 modelAsStrings="true">
                        <ng-template let-selected="item" let-index="index">
                          <div class="source-tag-wrapper"
                               matTooltip="{{resolveTrustedSource(selected)}}">
                            {{
                            (showTrustedSources && isTrustedSource(selected))
                              ? (selected + ':' + resolveTrustedSource(selected))
                              : selected
                            }}
                            <mat-icon class="close-tag icon icon-close" (click)="sourceInput.removeItem(selected, index)">
                            </mat-icon>
                          </div>
                        </ng-template>
                        <tag-input-dropdown [showDropdownIfEmpty]="!clause.get('source.value').value"
                                            [autocompleteItems]="trustedSourcesValues">
                        </tag-input-dropdown>
                      </tag-input>
                      <mat-hint>A URL that provides the organization that asserted a visa</mat-hint>
                      <div *ngIf="clause.get('source') as control"
                           class="field-error">
                        <ng-container *ngIf="control.invalid">
                          {{ control.errors?.serverError || 'choose one of the prefixes' }}
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>

                <div formGroupName="by">
                  <h4 class="row">By</h4>
                  <div class="row">
                    <div class="col">
                      <tag-input formControlName="value"
                                 theme="minimal"
                                 maxItems="100"
                                 secondaryPlaceholder="Add By"
                                 placeholder="+ By"
                                 [validators]="validators"
                                 [errorMessages]="errorMessages"
                                 (onAdd)="addBy($event, clause)"
                                 [attr.data-se]="'inp-condition-' + clauseIndex + '-by-value'"
                                 modelAsStrings="true"
                                 [onlyFromAutocomplete]="true">
                        <tag-input-dropdown [showDropdownIfEmpty]="!clause.get('by.value').value"
                                            [autocompleteItems]="autocompleteService.getByValues()">
                        </tag-input-dropdown>
                      </tag-input>
                      <mat-hint>The level or type of authority within the "source" organization</mat-hint>
                      <div *ngIf="clause.get('by').invalid"
                           class="field-error">
                        {{ clause.get('by').errors?.serverError || 'choose one of the prefixes' }}
                      </div>
                    </div>
                  </div>
                </div>

                <div formGroupName="value">
                  <h4 class="row">Value</h4>
                  <div class="row">
                    <div class="col">
                      <ng-container *ngIf="!showVariables">
                        <tag-input *ngIf="clause.get('_autocomplete_values_for_type').value as autocompleteValues"
                                   formControlName="value"
                                   theme="minimal"
                                   maxItems="100"
                                   secondaryPlaceholder="Add Value"
                                   placeholder="+ Value"
                                   [validators]="validators"
                                   [errorMessages]="errorMessages"
                                   (onAdd)="addValue($event, clause)"
                                   [attr.data-se]="'inp-condition-' + clauseIndex + '-value-value'"
                                   modelAsStrings="true">
                          <tag-input-dropdown
                            [showDropdownIfEmpty]="true"
                            [autocompleteItems]="autocompleteValues">
                          </tag-input-dropdown>
                        </tag-input>
                      </ng-container>
                      <ng-container *ngIf="showVariables">
                        <tag-input *ngIf="clause.get('_autocomplete_values_for_type').value as autocompleteValues"
                                   formControlName="value"
                                   theme="minimal"
                                   maxItems="100"
                                   secondaryPlaceholder="Add Value"
                                   placeholder="+ Value"
                                   [validators]="validators"
                                   [errorMessages]="errorMessages"
                                   (onAdd)="addValue($event, clause)"
                                   (onTextChange)="onValueChange($event)"
                                   [attr.data-se]="'inp-condition-' + clauseIndex + '-value-value'"
                                   modelAsStrings="true">
                          <tag-input-dropdown
                            [autocompleteObservable]="updateAutocompleteItems">
                          </tag-input-dropdown>
                        </tag-input>
                      </ng-container>
                      <mat-hint>
                        A string that represents any of the scope, process, identifier and version of the assertion. The format of the string can vary by the
                        <a href="https://github.com/ga4gh-duri/ga4gh-duri.github.io/blob/64b4948e94e3a6250092ba11680b6982dd51b64a/researcher_ids/ga4gh_passport_v1.md#passport-visa-type"
                           target="_blank"
                           rel="noopener noreferrer">
                          Passport Visa Type
                        </a>
                      </mat-hint>
                      <div *ngIf="clause.get('value') as control"
                           class="field-error">
                        <ng-container *ngIf="control.invalid">
                          {{ control.errors?.serverError || 'choose one of the prefixes' }}
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>

              <mat-card-actions class="footer">
                <button mat-button
                        type="button"
                        color="warn"
                        class="uppercase"
                        (click)="removeClauseCondition(condition, clauseIndex, conditionIndex)">
                  Remove Requirement
                </button>
              </mat-card-actions>
            </ng-container>
          </mat-card>
        </ng-container>
      </ng-container>
      <mat-action-row>
        <button mat-button
                color="primary"
                class="uppercase"
                type="button"
                data-se="btn-add-clause-condition"
                (click)="addClauseCondition(condition)">
          Add Requirement
        </button>
        <button mat-button
                type="button"
                color="warn"
                class="uppercase"
                data-se="btn-remove-condition"
                (click)="removeCondition(conditionIndex)">
          Remove Condition
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
