@import '~ddap-common-lib/styles/modules/colors';

.timeline {
  .event {
    .line {
      top: 5%;
    }
    .line.first {
      height: 45%;
    }
    .line.last {
      top: 56%;
      height: 48%;
    }
  }
  .event:after {
    top: 5%;
  }
}

h4 {
  margin-top: 1rem;
  color: $color-grey;
}

.prefix-wrapper {
  mat-button-toggle-group {
    height: 4.2rem;

    &.col {
      padding-right: 0;
      width: auto;
    }
  }

  ::ng-deep .mat-button-toggle-button {
    height: 100%;
  }
}

.value.col {
  width: auto;
  flex-grow: 1;

  tag-input {
    padding-bottom: 0;
  }
}

.field-error {
  color: $failure-color;
  position: absolute;
  font-size: 0.7rem;
}
