@import '~ddap-common-lib/styles/modules/colors';

mat-card-title {
  margin-bottom: 1.5rem;
}

h4 {
  margin-top: 1rem;
  color: $color-grey;
}

div.col tag-input {
  padding-bottom: 0;
  border-bottom: 1px solid #9e9e9e;
}

h4:not(:first-child) {
  padding-top: 1rem;
}

.field-error {
  color: $failure-color;
  position: absolute;
  font-size: 0.7rem;
}

.source-tag-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-right: 1rem;

  .close-tag {
    position: absolute;
    right: -0.6rem;
    font-size: 1rem;
    top: 0.6rem;
  }
}

tag-input ~ mat-hint {
  font-size: 75%;
}
