@import '~ddap-common-lib/styles/modules/colors';

.quickstart-list {
  display: flex;
  flex-wrap: wrap;

  mat-card {
    width: 18rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    mat-card-content {
      color: $color-grey;
    }
  }
}
