<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             required
             placeholder="Display Name"
             formControlName="displayName"
             data-se="inp-label"/>
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             required
             placeholder="Internal Name"
             data-se="id-field"
             [readonly]="!internalNameEditable"
             formControlName="id"/>
      <mat-icon matSuffix
                class="input-help"
                matTooltip="The internal name is the unique identifier for this entity in the system. Once created, it cannot be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
  </div>

  <h3>Members</h3>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'members'"
                                      [fieldTitle]="'E-mail'"
                                      [editable]="false">
  </ddaplib-form-inline-editable-table>

  <ng-content></ng-content>
</form>
