<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             required
             placeholder="Display Name"
             formControlName="displayName"
             data-se="inp-label"/>
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             required
             placeholder="Internal Name"
             data-se="id-field"
             [readonly]="!internalNameEditable"
             formControlName="id"/>
      <mat-icon matSuffix
                class="input-help"
                matTooltip="The internal name is the unique identifier for this entity in the system. Once created, it cannot be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
  </div>

  <h3>Members</h3>
  <p>Add users' emails in a bulk or one by one.</p>
  <div class="row bulk-input">
    <mat-form-field class="col"
                    appearance="fill">
      <textarea [formControl]="bulkEmailsControl"
                matInput
                rows="7"
                placeholder="Bulk Emails"
                data-se="inp-bulk-emails">
      </textarea>
      <mat-hint>Paste here either semicolon "<b>;</b>" or comma "<b>,</b>" separated list of users' emails</mat-hint>
    </mat-form-field>
  </div>
  <button (click)="parseToList()"
          mat-flat-button
          color="primary"
          class="uppercase">
    Parse Emails
  </button>

  <ng-container *ngIf="unparasbleValues && unparasbleValues.length > 0">
    <p class="warning-section">
      <mat-icon class="icon icon-warning"></mat-icon>
      <span>
        Following <b>{{ unparasbleValues.length }}</b> values could not be parsed or were not not recognized as email address.
        Please make sure you have provided valid email addresses.
        You can add them manually using input below or re-running the parser with corrected values.
      </span>
    </p>
    <div class="warning-section">
      <mat-list dense>
        <mat-list-item *ngFor="let unparsableValue of unparasbleValues">
          {{ unparsableValue }}
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>

  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'members'"
                                      [fieldTitle]="'E-mail'"
                                      [editable]="false">
  </ddaplib-form-inline-editable-table>

  <ng-content></ng-content>
</form>
