<ddaplib-header iconClass="icon icon-policies"
                label="Select Service Type">
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    <p>
      Quickstart allows users with simple controlled or registered access control policies to easily configure
      authorization for data in Google Cloud Storage, Big Query, or Beacon deployments via a streamlined, one-page form.
    </p>
    <p>
      You can use Quickstart to setup as many resources as you choose. Upon finishing a Quickstart form, you may
      navigate to “Advanced Settings > Resources” to perform additional customisation.
    </p>
    <p>
      Select the service where your data is stored.
    </p>
  </ddaplib-entity-description>

  <div class="quickstart-list">
    <mat-card [routerLink]="['manage', 'gcs']"
              data-se="btn-create-gcs-resource">
      <mat-card-title>Google Cloud Storage</mat-card-title>
      <mat-card-content>
        Google Cloud Storage is a RESTful online file storage web service for storing
        and accessing data on Google Cloud Platform infrastructure.
      </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="['manage', 'amazon-s3']"
              data-se="btn-create-amazon-s3-resource">
      <mat-card-title>Amazon S3</mat-card-title>
      <mat-card-content>
        Amazon S3 or Amazon Simple Storage Service is a service offered by Amazon Web Services that provides object
        storage through a web service interface.
      </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="['manage', 'bigquery']"
              data-se="btn-create-bigquery-resource">
      <mat-card-title>BigQuery</mat-card-title>
      <mat-card-content>
        BigQuery is a fully-managed, serverless data warehouse that enables scalable analysis over petabytes of data.
      </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="['manage', 'beacon']"
              data-se="btn-create-beacon-resource">
      <mat-card-title>Beacon</mat-card-title>
      <mat-card-content>
        The Beacon API is a platform for global discovery of genomic data and variant sharing.
      </mat-card-content>
    </mat-card>
  </div>
</ddaplib-main>
