<h1 mat-dialog-title>Variables Data</h1>
<div mat-dialog-content [formGroup]="data['varsFormGroup']">
  <mat-form-field *ngFor="let variable of data['variables'] | keyvalue">
    <input matInput
           required
           [attr.data-se]="'var-' + variable.key"
           [formControlName]="variable.key"
           [placeholder]="variable.key"
           [name]="variable.key">
    <mat-hint>{{variable.value['ui']['description']}}</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    Cancel
  </button>
  <button mat-button
          mat-flat-button
          (click)="onSave()"
          data-se="btn-update"
          type="submit"
          color="primary"
          class="uppercase"
          data-se="btn-save-variable-data"
          cdkFocusInitial>
    Save
  </button>
</div>
