<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <mat-tab-group>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-label">
          <span>Details</span>
          <div class="invalid-warning"
               *ngIf="isAnyOfControlsInvalid(['id', 'ui.label', 'ui.description'])">
            <mat-icon matTooltip="Details are invalid">
              warning
            </mat-icon>
          </div>
        </div>
      </ng-template>
      <div class="row">
        <mat-form-field class="col"
                        formGroupName="ui">
          <input matInput
                 placeholder="Display Name"
                 formControlName="label"
                 data-se="inp-label"
                 required>
          <mat-error *ngIf="form.get('ui.label') as control">
            <ng-container *ngIf="control.invalid">
              {{ control.errors?.serverError }}
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput
                 placeholder="Internal Name"
                 formControlName="id"
                 [readonly]="resource.name.length > 0"
                 data-se="inp-id"
                 required>
          <mat-icon matSuffix
                          class="input-help"
                    matTooltip="The internal name is the unique identifier for this entity in the system. Once created, it cannot be changed.">
            help_outline
          </mat-icon>
          <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
          <mat-error *ngIf="form.get('id') as control">
            <ng-container *ngIf="control.invalid">
              {{ control.errors?.serverError }}
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col"
                        formGroupName="ui">
          <textarea matInput
                    placeholder="Description"
                    formControlName="description"
                    data-se="inp-description"
                    required>
          </textarea>
          <mat-icon matSuffix
                          class="input-help"
                    matTooltip="This field is a human-readable description of a resource, and is the first description
                    users see before requesting access to data. Resources are collections of data that are typically
                    from the same study or share similar access policies and consent rules.">
            help_outline
          </mat-icon>
          <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
          <mat-error *ngIf="form.get('ui.description') as control">
            <ng-container *ngIf="control.invalid">
              {{ control.errors?.serverError }}
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <h3>
        <span>Views</span>
        <div>
          <button mat-button
                  color="primary"
                  class="uppercase"
                  type="button"
                  data-se="btn-add-view"
                  (click)="addView()">
            Add View
          </button>
        </div>
      </h3>

      <mat-accordion multi displayMode="flat">
        <ng-container *ngFor="let view of views.controls | keyvalue">
          <ddap-resource-view-form [viewForm]="view.value"
                                   [internalNameEditable]="internalNameEditable">
            <div class="footer">
              <button mat-button
                      type="button"
                      color="warn"
                      class="uppercase"
                      [attr.data-se]="'btn-remove-view-' + view.key"
                      (click)="removeView(view.key)">
                Remove View
              </button>
            </div>
          </ddap-resource-view-form>
        </ng-container>
      </mat-accordion>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-label">
          <span>Metadata</span>
          <div class="invalid-warning"
               *ngIf="isAnyOfControlsInvalid(['ui.owner', 'maxTokenTtl', 'ui.access', 'ui.year', 'ui.size', 'ui.tags', 'ui.imageUrl', 'ui.infoUrl', 'ui.applyUrl', 'ui.troubleshootUrl'])">
            <mat-icon matTooltip="Metadata is invalid">
              warning
            </mat-icon>
          </div>
        </div>
      </ng-template>
      <div class="row">
        <mat-form-field class="col"
                        formGroupName="ui">
          <input matInput
                 placeholder="Owner"
                 formControlName="owner"
                 data-se="inp-owner">
          <mat-error *ngIf="form.get('ui.owner') as control">
            <ng-container *ngIf="control.invalid">
              {{ control.errors?.serverError }}
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput
                 placeholder="Maximum TTL"
                 formControlName="maxTokenTtl"
                 data-se="inp-max-ttl">
          <mat-error *ngIf="form.get('maxTokenTtl') as control">
            <ng-container *ngIf="control.invalid">
              {{ control.errors?.serverError }}
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <ng-container formGroupName="ui">
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Access"
                   formControlName="access"
                   data-se="inp-access">
            <mat-error *ngIf="form.get('ui.access') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Year"
                   formControlName="year"
                   data-se="inp-year">
            <mat-error *ngIf="form.get('ui.year') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   placeholder="Size"
                   formControlName="size"
                   data-se="inp-size">
            <mat-error *ngIf="form.get('ui.size') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Tags"
                   formControlName="tags"
                   data-se="inp-tags">
            <mat-hint>Separate tags by comma</mat-hint>
            <mat-error *ngIf="form.get('ui.tags') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Image URL"
                   formControlName="imageUrl"
                   data-se="inp-image-url">
            <mat-error *ngIf="form.get('ui.imageUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.imageUrl') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <ddaplib-image-preview [photoUri]="form.get('ui.imageUrl').value">
        </ddaplib-image-preview>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Information URL"
                   formControlName="infoUrl"
                   data-se="inp-info-url">
            <mat-error *ngIf="form.get('ui.infoUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.infoUrl') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Apply URL"
                   formControlName="applyUrl"
                   data-se="inp-apply-url">
            <mat-error *ngIf="form.get('ui.applyUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.applyUrl') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   type="url"
                   placeholder="Troubleshoot URL"
                   formControlName="troubleshootUrl"
                   data-se="inp-troubleshoot-url">
            <mat-error *ngIf="form.get('ui.troubleshootUrl').hasError('url')">Must start with http:// or https://</mat-error>
            <mat-error *ngIf="form.get('ui.troubleshootUrl') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-tab>

  </mat-tab-group>

  <ng-content></ng-content>
</form>
