<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             data-se="inp-id"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
      <mat-error *ngIf="form.get('id').invalid">{{ form.get('id').errors?.serverError }}</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
      <mat-error *ngIf="form.get('ui.label').invalid">{{ form.get('ui.label').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
        <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
        <mat-error *ngIf="form.get('ui.description').invalid">{{ form.get('ui.description').errors?.serverError }}</mat-error>
      </textarea>
    </mat-form-field>
  </div>

  <h3>
    <span>Sources</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-source"
              (click)="addSource()">
        Add Source
      </button>
    </div>
  </h3>
  <p>Trusted sources to issue access policy visas</p>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'sources'">
  </ddaplib-form-inline-editable-table>

  <h3>
    <span>Claims</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-claim"
              (click)="addClaim()">
        Add Claim
      </button>
    </div>
  </h3>
  <p>Trusted visas to be issued from these sources</p>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'visaTypes'">
  </ddaplib-form-inline-editable-table>

  <ng-content></ng-content>
</form>
