<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             data-se="inp-id"
             [readonly]="accessPolicy.name.length > 0"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
      <mat-error *ngIf="form.get('ui.label') as control">
        <ng-container *ngIf="control.invalid">
          {{ control.errors?.serverError }}
        </ng-container>
      </mat-error>
    </mat-form-field>
  </div>
  <ng-container formGroupName="ui">
    <div class="row">
      <mat-form-field class="col">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
      </textarea>
        <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
        <mat-error *ngIf="form.get('ui.description') as control">
          <ng-container *ngIf="control.invalid">
            {{ control.errors?.serverError }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               placeholder="Info URL"
               formControlName="infoUrl"
               data-se="inp-infoUrl">
        <mat-error *ngIf="form.get('ui.infoUrl').hasError('url')">Must start with http:// or https://</mat-error>
        <mat-error *ngIf="form.get('ui.infoUrl') as control">
          <ng-container *ngIf="control.invalid">
            {{ control.errors?.serverError }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>

  <h3>
    <span>Variable Definitions</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-variable"
              (click)="addVariable()">
        Add Variable
      </button>
    </div>
  </h3>
  <p>
    {{ 'Variables are usable in access policy conditions via string interpolation (e.g. ${DATASET}).' }}
  </p>
  <mat-accordion multi displayMode="flat"
                 formArrayName="variableDefinitions">
    <mat-expansion-panel #variableExpansionPanel
                         *ngFor="let variableDefinition of variableDefinitions.controls | keyvalue"
                         [expanded]="isExpanded(variableDefinition.value, variableExpansionPanel)"
                         [attr.data-se]="'variable-' + variableDefinition.value.get('id').value">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <mat-panel-title>
          <span>{{ variableDefinition.value.get('id').value || 'UNDEFINED_VARIABLE' }}</span>
        </mat-panel-title>
        <div class="invalid-warning"
             *ngIf="variableDefinition.value.invalid">
          <mat-icon class="icon icon-warning"
                    matTooltip="Variable definition is invalid">
          </mat-icon>
        </div>
      </mat-expansion-panel-header>

      <ng-container [formGroupName]="variableDefinition.key">
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   formControlName="id"
                   placeholder="Name"
                   [attr.data-se]="'inp-variable-' + variableDefinition.key + '-name'"
                   required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col"
                          formGroupName="ui">
            <textarea matInput
                      placeholder="Description"
                      formControlName="description"
                      [attr.data-se]="'inp-variable-' + variableDefinition.key + '-description'"
                      required>
            </textarea>
            <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
            <mat-error *ngIf="variableDefinition.value.get('description') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   formControlName="regexp"
                   placeholder="Regexp"
                   [attr.data-se]="'inp-variable-' + variableDefinition.key + '-regexp'"
                   required>
            <mat-error *ngIf="variableDefinition.value.get('regexp') as control">
              <ng-container *ngIf="control.invalid">
                {{ control.errors?.serverError }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="footer">
          <button mat-button
                  type="button"
                  color="warn"
                  class="uppercase"
                  (click)="removeVariable(variableDefinition.key)">
            Remove Variable
          </button>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <ddap-condition-form [form]="form"
                       [conditionFormBuilder]="accessPolicyFormBuilder"
                       [anyOfFieldName]="'anyOf'"
                       [label]="'Access Policy Conditions'"
                       [entity]="accessPolicy"
                       [showTrustedSources]="true"
                       [showVariables]="true"
                       [variableDefinitions]="variableDefinitions">
  </ddap-condition-form>
</form>
