<ddaplib-header [backLink]="['../..']" label="Configure resources">
</ddaplib-header>

<ddaplib-main>
  <ddap-quickstart-form #quickstartForm
                    [serviceTemplate]="serviceTemplate">
  </ddap-quickstart-form>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                             [message]="formErrorMessage">
  </ddaplib-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Set up resources
  </button>
</div>
